<div class="container-fluid">
<app-navbar></app-navbar>
<div  class="row mx-auto shadow bg-white" style=" margin-top: 100px;padding-bottom: 100px; z-index: 100;  height: 80vh; font-family: sans-serif;">
    
        <div class="col-sm-4" >
            <div class="card" style="background-color: #009688; border-radius: 0%; height: 100%;">
                <div class="card-body w-50 text-light">
                    <h5 class="card-title">Sign In</h5>
                    <p class="card-text">Welcome to the chatApp <br/>
                        connect with friends and family.</p>
                    <h5 class="card-title">ON THE GO </h5>
                    <div style="margin-left: 120px; margin-top: 120px;"><span class="fa fa-comment fa-4x"></span></div>
                        
                </div>
            </div>
        </div>
        <div class="col-sm-8">
        <div class="card" style="background-color: #FBFBFB; border-radius: 0%; height: 100%;">
            <div class="card-body d-flex justify-content-center" style=" margin-top: 100px;">
                <form [formGroup]="userForm" >
                    <div *ngIf="err != '' " class="text-danger">{{err}}</div>
                    <div >
                        <input type="text"  #inp [class.is-invalid]="userForm.get('phone').dirty && userForm.get('phone').invalid"
                            name="phone" [class.is-valid]="userForm.get('phone').dirty && userForm.get('phone').valid" 
                            formControlName="phone" class="form-control w-100"  placeholder="phone number">
                        <div *ngIf="userForm.get('phone').invalid" >
                            <span class="text-danger" *ngIf="userForm.get('phone').dirty && userForm.get('phone').errors.numErr" >
                                must contain only number</span>
                                <span class="text-danger" *ngIf="userForm.get('phone').errors.maxLength" >
                                    maximum length is 11</span>
                        </div>
                    </div>
                    
                    <div style=" margin-top: 20px; display: flex; justify-content: center">
                        <button type="submit" [disabled]="userForm.invalid"   class="btn" style="background-color: #009688;"
                        (click)="submit()" >SIGN IN</button>
                    </div>
                    </form>
            </div>
        </div>
            
        </div>    
</div>
</div>
