<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12" style="height: 82vh">
                <div class="shadow">
                    <div class="row col-12 p-3">
                        <div class="col-4" >
                            <div class="card" style="background-color: #009688; border-radius: 0%; height: 100%;">
                                <div class="card-body w-50">
                                    <h5 class="card-title">Sign In</h5>
                                    <p class="card-text">Welcome to the chatApp <br/>
                                        connect with friends and family.</p>
                                    <h5 class="card-title">ON THE GO </h5>
                                        
                                </div>
                            </div>
                        </div>
                       <div class="col-8 " style="margin-left:-30px;">
                        <div class="card" style="background-color: #FBFBFB; border-radius: 0%; height: 100%;">
                            <div class="card-body">
                                <form [formGroup]="userForm" >
                                    <div >
                                        <input type="text"  #inp [class.is-invalid]="userForm.get('phone').dirty && userForm.get('phone').invalid"
                                         name="phone" [class.is-valid]="userForm.get('phone').dirty && userForm.get('phone').valid" 
                                         formControlName="phone" class="form-control"  placeholder="phone number">
                                        <div *ngIf="userForm.get('phone').invalid" >
                                            <span class="text-danger" *ngIf="userForm.get('phone').dirty && userForm.get('phone').errors.numErr" >
                                                must contain only number</span>
                                                <span class="text-danger" *ngIf="userForm.get('phone').errors.maxLength" >
                                                    maximum length is 11</span>
                                        </div>
                                    </div>
                                    
                                    <div style=" margin-top: 20px; align-items: center;
                                    margin-left: 20%;">
                                        <button type="submit" [disabled]="userForm.invalid"   class="btn" style="background-color: #009688;"
                                        (click)="submit()" >SIGN IN</button>
                                    </div>
                                  </form>
                            </div>
                        </div>
                           
                       </div>
                </div>
            </div>

        </div>
        </div>
    </div>
</div>
