

    <nav class="navbar navbar-expand-sm w-100 fixed-top" style="background-color: '#009688'; ">

      
      <div class="d-flex w-100">
         <span class=" fa fa-comment fa-4x text-light "></span>
        <p class="text-white" style="font-size: 20px; margin-left: 5px; margin-top: 15px;  ">ChatApp</p>
      
          <div class="ml-auto"><button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#icon">
          <span class="fa fa-bars text-light "></span></button>
          </div>
      </div>

      <div class="collapse navbar-collapse ml-5"  id="icon" >
        <ul class="navbar-nav " >
        
          <li class="nav-item ">
            <a class="nav-link text-light " href="/home">HOME</a>
          </li>
          <li class="nav-item  mr-2">
            <a class="nav-link text-light" href="/">ABOUT</a>
          </li>
          <li class="nav-item mr-2 ">
            <a class="nav-link text-light"  href="/">DOWNLOAD</a>
          </li>
          <li class="nav-item mr-2 ">
            <a class="nav-link text-light"  href="/">FAQ</a>
          </li>
          <li class="nav-item mr-2 ">
            <a class="nav-link text-light"  href="/signup">SIGNUP/SIGNIN</a>
          </li> 
          <li class="nav-item  mr-2">
              <button class="btn btn-sm text-light" (click)="log()">SIGNOUT</button>
          </li>
        </ul>
      </div>
    </nav>





