<div class="container-fluid">
  <div class="row" style="height: 100px; z-index:-1;  background-color: '#009688';">
    
      <div class="col-12 text-center mt-3">
          <div class="col-2" style="position: absolute; margin-left: -20px; margin-top:-15px ;"><span class="fa fa-comment fa-3x"></span></div>
          <div class="col-10" style="position: absolute;">
            <button class="btn btn-light mr-3" routerLink="/home" routerLinkActive="active">Home</button>
            <button class="btn btn-light mr-3" routerLink="/signin" routerLinkActive="active">signin</button>
            <button class="btn btn-light mr-3" routerLink="/signup" routerLinkActive="active">signup</button>
            <button class="btn btn-light mr-3" routerLink="/chatpage" routerLinkActive="active">chat</button>
            <button class="btn btn-light mr-3" routerLink="/profile" routerLinkActive="active">profile</button>
          </div>
      </div>
  </div>
  <div class="row" style="margin-top: -45px; z-index: 100">
      <div class="col-11 bg-white mx-auto shadow" style="height: 90vh">
          
          <router-outlet></router-outlet>
          
      </div>
  </div>
</div> 