<div class="container-fluid">
  <div class="row" style="height: 100px; z-index:-1;  background-color: '#009688';">
    
      <div class="col-12 text-center mt-3">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link text-light" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/home">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light"  href="/signup">Signup/SignIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light"  href="/home"><button class="btn btn-sm btn-success" 
              
              (click)="log()">SignOut</button></a>
          </li>
        </ul>
      </div>
  </div>
  <div class="row" style="margin-top: -45px; z-index: 100">
      <div class="col-11 bg-white mx-auto shadow" style="height: 90vh">
          
          <router-outlet></router-outlet>
          
      </div>
  </div>
</div> 