<div class="container-fluid ">
<app-navbar></app-navbar>
<div class="row mx-auto shadow " style=" margin-top: 50px; padding-bottom: 100px; z-index: 100;  height: 100%; font-family: sans-serif;">
    
        <div class="col-sm-4 pl-3 pt-5 vh-100%">
            <div class="card" style="background-color: #009688; border-radius: 0%; height: 100%;  font-family: sans-serif;">
                <div class="card-body w-50 text-light">
                    <h5 class="card-title">Sign Up</h5>
                    <p class="card-text">Welcome to the chatApp<br/>
                        connect with friends and family.</p>
                    <h5 class="card-title">ON THE GO </h5>
                    <div style="margin-left: 120px; margin-top: 250px;"><span class="fa fa-comment fa-4x"></span></div>
                        
                </div>
            </div>
        </div>
        
        <div class="col-sm-8 pl-3 pt-5 ">
            <div class="card" style="background-color: #FBFBFB; border-radius: 0%; height: 100%; font-size: 15px; font-family: sans-serif;">
                <div class="card-body">
                    
                    <form [formGroup]="userForm" >
                        <div *ngIf="err != '' " class="text-danger">{{err}}</div>
                        <div class="text-center">
                            <input type="text"  name="fullName" formControlName="fullName" class="form-control"   placeholder="FULL NAME">
                            <div *ngIf="userForm.get('fullName').invalid" class="" >
                                <span class="text-danger" *ngIf="userForm.get('fullName').dirty && userForm.get('fullName').errors.maxLength">
                                maximum length is 50</span>
                                <span class="text-danger" *ngIf="userForm.get('fullName').dirty && userForm.get('fullName').errors.charErr">
                                Name must contain only letters</span>
                            </div>
                        </div>
                        
                        <div class="text-center">
                            <input type="text"  name="userName" formControlName="userName" class="form-control"  placeholder="USER NAME">
                            <div *ngIf="userForm.get('userName').invalid" >
                            <span class="text-danger" *ngIf="userForm.get('userName').dirty && userForm.get('userName').errors.maxLength">
                                maximum length is 50</span>
                                <span class="text-danger" *ngIf="userForm.get('userName').dirty && userForm.get('userName').errors.userNameErr">
                                User Name must contain only letters and number</span>
                            </div>
                        </div>
                        
                        <div>
                            <input type="text"  name="address" formControlName="address" class="form-control"  placeholder="ADDRESS">
                            </div>
                        <div class="text-center">
                            <input type="email"  name="email" [class.is-valid]="userForm.get('email').dirty && userForm.get('email').valid"
                            [class.is-invalid]="userForm.get('email').dirty && userForm.get('email').invalid" formControlName="email" class="form-control"  placeholder="EMAIL">
                            <div *ngIf="userForm.get('email').invalid" >
                                <span class="text-danger" *ngIf="userForm.get('email').dirty && userForm.get('email').errors.emailError">
                                    Enter a valid email</span>
                                    
                            </div>
                        </div>
                        
                        <div class="text-center">
                            <input type="text"  #inp [class.is-invalid]="userForm.get('phone').dirty && userForm.get('phone').invalid"
                                name="phone" [class.is-valid]="userForm.get('phone').dirty && userForm.get('phone').valid" 
                                formControlName="phone" class="form-control"  placeholder="phone number">
                            <div *ngIf="userForm.get('phone').invalid" >
                                <span class="text-danger" *ngIf="userForm.get('phone').dirty && userForm.get('phone').errors.numErr" >
                                    must contain only number</span>
                                    <span class="text-danger" *ngIf="userForm.get('phone').errors.maxLength" >
                                        maximum length is 11</span>
                            </div>
                        </div>
                        
                        <div style=" margin-top: 20px; margin-left: 50px; display: flex; justify-content: center; ">
                           <label>Upload Profile picture</label><br>
                            <input  type="file" class="ml-2" formControlName="img" style="width: 50%;">
                        </div>
                        
                        <div style=" margin-top: 20px; display: flex; justify-content: center; ">
                            <button type="submit" [disabled]="userForm.invalid"   class="btn btn-sm mr-4" style="background-color: #009688; font-size: 15px; font-family: sans-serif;"
                            (click)="submit()" >SIGN Up</button> or <a  href="/signin" style="color:  #009688; margin-left: 20px; font-size: 15px; font-family: sans-serif; ">SIGN IN</a>
                        </div>
                        </form>
                </div>
            </div>
        </div>  
</div>
</div>
