
    


<div class="container-fluid">
   <div class="row" style="background-color: '#009688';">
        <div class="col-sm-12 justify-content-center">
            <app-navbar></app-navbar>
        </div>
   </div>

    <div class="row shadow bg-white " style="z-index: 100;  height: auto; font-family: sans-serif;">
            <div class="col-md-4 col-sm-12 d-flex justify-content-center mt-5 align-self-center ">
            <img style="height: 500px; width: 350px; border-radius: 50px;" src="assets/phone.jpg" />
            </div>
            
            <div class="col-sm-12 col-md-8 mb-5  d-flex justify-content-center">
               <div class="">     
                    <div style=" color: #009688 !important;margin-top: 100px; font-size: 25px;">
                    <!-- <span class="fa fa-comment fa-4x " ></span> -->
                        <p  style="line-height: 2px; color: #009688 !important;  ">Simple . Secure .</p>
                         <p style="">Reliable Messaging</p>
                    </div>                         
                
                    <div style=" color: #009688 !important;  margin-left: 0px; font-size: 11px; "  class="mt-4">
                        <p>
                       With chatApp, you'll get fast, simple, secure messaging <br>
                        and calling for free, available on phones all over the globe</p>
                        <p class="text-muted">-Data charges may apply. contact your provider for details</p>
                    </div> 
    
                    <div style="margin-left: 0px; margin-top: 20px; color: #009688 !important; font-size: 11px;">
                         <div><span class="fa fa-android mr-2 "></span>Android</div>
                         <div><span class="fa fa-apple mr-2 mt-3"></span>iphone</div>
                         <div><span class="fa fa-desktop mr-2 mt-3"></span>Mac or Windows PC</div>
                         <div><span class="fa fa-windows mr-2 mt-3"></span>Windows Phones</div>
                    </div>

               </div>
               
               
            </div>
     </div>
    
</div>