<div class="row" style="background-color: #F7F7F7; height: auto; font-family: sans-serif;">
    
        <div class="col-4 mt-5" ><img style="height: 300px; border-radius: 50px;" src="assets/phone.jpg" />
        </div>
        
        
        <div class="col-8 ">
            <div style="margin-left: 180px; color: #009688 !important;" >
                <div style="margin-left: 120px; margin-top: 120px;"><span class="fa fa-comment fa-4x"></span></div>
                 <div style="line-height: 2px;"><p  style="margin-left: 90px; margin-top: 20px;">Simple . Secure .</p>
                     <p style="margin-left:80px;">Reliable Messaging</p></div>                           
            </div>
            <div style="margin-left: 100px; color: #009688 !important "  class="mt-5">
                <div style="line-height: 2px;"><p style="margin-left: 90px; margin-top: 20px;">
                   With chatApp, you'll get fast, simple, secure  </p>
                    <p  style="margin-left:80px;">messaging and calling for free, available on</p>
                    <p style="margin-left:150px">phones all over the globe</p>
                   </div>                           
             
           </div>

           <div style="margin-left:250px; margin-top: 40px;"><img src="assets/apple1.png" style=" height: 50px;" /></div>
           <div style="margin-left:50px; margin-top: 40px;"><img src="assets/phone2.webp" style=" height: 300px;" /></div>
        </div>



</div>